<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AboutUs</title>
    <link href="/css/about.css" rel="stylesheet" type="text/css">
<style>

</style>

</head>
<body>
    <div class="about">
        <center>
    <h1>About Us</h1>
</center>

    </div>
    <div class="info">
        <center>
            <p>“We are not in the business to simply teach students to pass the road test;</p>
            <p>we’re here to teach the students to drive safely and correctly."</p>
        </center>    
            

    </div>
    <div class="main">
        <center>
            <p><i><u>THE COMPANY:</u></i></p>
            
            New Metro Driving School, Inc. has been in the business of training drivers in the Capital Region for over 50 years.  We offer private driving lessons, the required NYS five hour pre-licensing course, defensive driving courses 
            
            In 1963, Omkar Mundekar opened the driving school in Mumbai.  Twelve years later he moved the business to Delhi, working with his sister Sayali.  In 2009 the business was relocated to it’s current location in Parel.
            
            New Metro Driving School, Inc. has a fleet of over 20 dual control cars and employs 25 instructors,  mostly part time, and 3 office staff.
            
            The New Metro have built their business over the years by providing quality driving instruction and excellent customer service. Our goal of behind the wheel instruction is to teach lifelong safe driving techniques.
            
            The New Metro Driving School philosophy is that we are not in the business to simply teach students to pass the road test; we’re here to teach the students to drive safely and correctly – then the road test becomes easier.
            
            During each lesson students learn basic rules of the road, defensive driving techniques, highway driving (upon request), and are properly prepared for the road test. Whether you are a brand new driver, a driver looking to prepare for the road test, or a licensed driver looking to improve your driving skills, We have qualified, patient instructors waiting to help you become a safe and skilled driver.
            <p><i><u>OUR STAFF:</u></i></p>
All of our instructors are certified, trained in teaching driving.  They are patient, honest and courteous individuals, hand chosen by Mr. Omkar to represent his company.

Our office staff is knowledgeable about Motor Vehicle regulations pertaining to driving.  We can assist you in the licensing process from beginning to end.

Give us a call and let us help you become a safe, experienced driver!
        </center>


        </div>

</body>
</html>