<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="/css/contact.css" rel="stylesheet" type="text/css">
<style>

</style>

</head>
<body>
    <div class="contact">
        <center><p>
        <h1>Contact Us</h1>
        <p>Phone No:</p>
        +91 8275636721<br>
        +91 9967520573
        <p>Telephone No:</p>
        +022 448577
        <p>Email:</p>
        newmetrods@gmail.com
        <p>Address:</p>
        A/24,Datta Tower,Parel Village,Parel,Mumbai-400012</p>
    </center></div>
    
    

</body>
</html>