<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="/css/feedback.css" rel="stylesheet" type="text/css">
<style>

</style>

</head>

<body>
        <span style="color: whitesmoke">
                
                <div class="head">
                
                    <ul>
                            <li><a href="/dms/loginpage/mainpage">Home</a></li>
                            
                            <li><a href="#">E-learning</a>
                                <ul>
                                <li><a href="/dms/loginpage/mainpage/roadsigns">Road Signs</a></li>
                                <li><a href="/dms/loginpage/mainpage/trafficrules">Traffic Rules</a></li>
                                <li><a href="/dms/loginpage/mainpage/mocktest">Quiz</a></li>
                                <li><a href="/dms/loginpage/mainpage/videos">Videos</a></li>
                               </ul>
                            </li>
                            <li><a href="#">Feedback</a></li>
                            <li><a href="/dms/loginpage/mainpage/studentform">Application Form</a></li>
                            <li><a href="/dms/loginpage">Log Out</a></li>
                    </ul>
                </div>
                
            
            
                
    <div class="feed">       
        <form action="/dms/loginpage/mainpage/feedback" method="POST">
<h1>Feedback</h1>
<p>Would you use our customer service in the future?</p> 
<input type="radio" name="f1" Value="Yes"required>Yes</br>
<input type="radio" name="f1" Value="No">No</br>
<input type="radio" name="f1" Value="Maybe">May be</br>

<p>Have you attended this training before?</p>
<input type="radio" name="f2" Value="Yes"required>Yes</br>
<input type="radio" name="f2" Value="No">No</br>

<p>Would you recommend this training to others?</p>
<input type="radio" name="f3" Value="Yes"required>Yes</br>
<input type="radio" name="f3" Value="No">No</br>

<p>For what reasons did you attend this training?</p>
<textarea name="a" id="" cols="40" rows="8"></textarea> <br>
<input type="submit" value="Submit" class="a2">
</div>

</form></span>
</body>