<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gallery</title>
    <link href="/css/gallery.css" rel="stylesheet" type="text/css">
<style>

</style>

</head>
<body>  <center>
        <h1>Gallery</h1></center>
        <h2>FourWheeler</h2> 
<div class="main">
   <img src="/in1.jpg">
   <img src="/in2.jpg"> 
   <img src="/in3.jpg">  
   <img src="/sd1.jpg">
   <img src="/sd2.jpg"> 
   <img src="/sd3.jpg"> 
   <img src="/sd4.jpg"> 
   <img src="/sd5.jpg"> 
   <img src="/scp1.jpg"> 
   <img src="/scp2.jpg"> 
   <img src="/scp3.jpg"> 
   <img src="/scp4.jpg">  
   <img src="/s1.jpg"> 
   <img src="/s2.jpg"> 
   <img src="/s3.jpg"> 


               
      

    </div>
<h3>Two Wheeler</h3>
<div class="tmain">
        <img src="/ac1.jpg">
        <img src="/ac2.jpeg">
        <img src="/bu1.jpg">
        <img src="/bu2.jpg">
        <img src="/bu3.jpg">
        <img src="/un1.jpg">
        <img src="/un2.jpg">
        <img src="/un3.jpg">
        <img src="/m1jpg.jpg">
        <img src="/m2.jpg">
        



</div>

</body>
</html>