<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="/css/home.css" rel="stylesheet" type="text/css">
<style>

</style>

</head>

<body>
    
    <div class="main">
            <div class="img">
                    <img src="logo2.jpg">
            </div>
            
            
        
        <ul>
            <li><a href="/dms/loginPage" >LOGIN</a></li>
            <li><a href="/dms/services">SERVICES</a></li>
            <li><a href="/dms/gallery">GALLERY</a></li>
            <li><a href="/dms/about">ABOUT</a></li>
            <li><a href="/dms/contact">CONTACT US</a></li>
        </ul>
        
    </div>
    
    <div class="title">
        <h1>Welcome to New Metro Driving School</h1>
        

    </div>  
    
   
    


    
    

</body>
</html>