<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New Metro Driving School</title>
    <link href="/css/login.css" rel="stylesheet" type="text/css">

</head>

<body>
        <div class="main">
                <div class="img1">
                        <img src="logo2.jpg">
                </div>
                
                
            
            <ul>
                <li><a href="/" >HOME</a></li>
                <li><a href="/dms/services">SERVICES</a></li>
                <li><a href="/dms/gallery">GALLERY</a></li>
                <li><a href="/dms/about">ABOUT</a></li>
                <li><a href="/dms/contact">CONTACT US</a></li>
            </ul>
            
        </div>
       
    <h1>New Metro Driving School</h1>
    <form action="/dms/loginPage" method="POST" id="loginpage">
        <input type="text" placeholder="Username" class="a1" name="username"><br>
        <input type="password" placeholder="Password" class="a1" name="password"><br>
        
        <input type="submit">
        <a href="/dms/loginPage/register" class="a2">Register</a>
        
        
    </form>

    

</body>

</html>