<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="/css/mainpage.css" rel="stylesheet" type="text/css">
<style>

</style>

</head>
<body>
    
        <span style="color: aliceblue">
    <header>
        <div class="head">
        
            <ul>
                    <li><a href="/">Home</a></li>
                    
                    <li><a href="#">E-learning</a>
                        <ul>
                        <li><a href="/dms/loginpage/mainpage/roadsigns">Road Signs</a></li>
                        <li><a href="/dms/loginpage/mainpage/trafficrules">Traffic Rules</a></li>
                        <li><a href="/dms/loginpage/mainpage/mocktest">Quiz</a></li>
                        <li><a href="/dms/loginpage/mainpage/videos">Videos</a></li>
                       </ul>
                    </li>
                    <li><a href="/dms/loginpage/mainpage/feedback">Feedback</a></li>
                    <li><a href="/dms/loginpage/mainpage/studentform">Application Form</a></li>
                    <li><a href="/dms/loginpage">Log Out</a></li>
                    

            
            </ul>
        </div>
    </header>
        
    <div class="bgs">
            
        
        <img src="/ol1.jpg" class="img">
        <img src="/quiz1.jpg" class="img">
        <img src="/feedback1.jpg" class="img">
        
    </div>
    

</body>