<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gallery</title>
    <link href="/css/services.css" rel="stylesheet" type="text/css">
<style>

</style>

</head>
<body>
    <div>
        <center>
    <h1>Training Fees</h1></center>
    <center><h2>Two Wheelers</h2></center>
    </div>
    

    <div class="f1"> 
        <img src="/m1jpg.jpg">
        <br>
        For Non-geared Bike<br>
        <ul type="square"> 
            <li>5 Days:Rs.800</li>
            <li>8 Days:Rs.1000</li>
        </ul>
    </div>
    <div class="f2"> 
            <img src="/un2.jpg">
            <br>
            For Geared Bike<br>
            <ul type="square"> 
                <li>5 Days:Rs.1000</li>
                <li>8 Days:Rs.1200</li>
            </ul>
        </div>
        <div class="f3"> 
                <img src="/bu1.jpg">
                <br>
                Bullet<br>
                <ul type="square"> 
                    <li>5 Days:Rs.1100</li>
                    <li>8 Days:Rs.1300</li>
                </ul>
            </div>
    <center><h3>Four Wheelers</h3></center>
    <div class="f4"> 
            <img src="/swift.jpg">
            <br>
            Hatchback<br>
            <ul type="square"> 
                <li>15 Days:Rs.3800</li>
                <li>20 Days:Rs.4200</li>
            </ul>
        </div>
        <div class="f5"> 
                <img src="/swiftd.jpg">
                <br>
                Sedan<br>
                <ul type="square"> 
                    <li>15 Days:Rs.4200</li>
                    <li>20 Days:Rs.4400</li>
                </ul>
            </div>
            <div class="f6"> 
                    <img src="/innova.jpg">
                    <br>
                    SUV<br>
                    <ul type="square"> 
                        <li>15 Days:Rs.4500</li>
                        <li>20 Days:Rs.4800</li>
                    </ul>
                </div>
</body>