<html>

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" type="text/css" href="/css/studentform.css">

</head>
<style></style>


<body>
    <span style="color: black">
    
    
    
    <div class="st">
        <ul>
            <li><a href="#" class="c1">Studentform</a></li>
            
        </ul>

    </div>
    <center>
    
    <h1>Student Application Form</h1>
    </center>
    <div class="sf">   
    <form action="/dms/loginpage/mainpage/studentform" method="POST">
    <input type="text" placeholder="Enter your Name" class="a1" name="Name" required><br>
    <input type="textarea" placeholder="Address" class="a1" name="Address" required><br>
    <input type="email" placeholder="Email" class="a1" name="email" required><br>
    <input type="number" placeholder="Phone NO" class="a1" name="pnumber" required><br>
    Gender:<input type ="radio" name="a" class="b2" value="male" required>Male
           <input type ="radio" name="a" class="b2" value="female"required>Female<br>
           Vehicle:<input type="radio" name="m" value="Two-wheeler" class="b2" required>Two-wheeler
           <input type="radio" name="m" value="Four-wheeler" class="b2"required>Four-wheeler<br>
       
   Bike Type:<select size="1" class="b1" name="bt" required>
             <option >Non-Geared Scooty   
             <option >Geared Bike
             <option >Bullet
             <option >None
             </select><br>
   Car Type:<select size="1" class="b1" name="ct" required>
       <option>Manual Micro
       <option>Automatic Micro
       <option>Manual Sedan
       <option>Automatic Sedan
       <option>Manual SUV
       <option>Automatic SUV
       <option>None  
       </select><br>
       
   License Requirement:<input type="radio" name="y" value="Yes" class="b2" required>Yes
                       <input type="radio" name="y" value="No" class="b2" required>No<br>
   
    
    <input type="submit"  value="SUBMIT" class="a3">
    <input type="reset" class="a3"> 
    </form>
    </div>
    -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
    
    
</span>
</body>

</html>