<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="/css/trafficrules.css" rel="stylesheet" type="text/css">
<style>

</style>

</head>

<body>



        <span style="color: black">
                
                    <div class="head">
                    
                        <ul>
                                <li><a href="/dms/loginpage/mainpage">Home</a></li>
                                
                                <li><a href="#">E-learning</a>
                                    <ul>
                                    <li><a href="/dms/loginpage/mainpage/roadsigns">Road Signs</a></li>
                                    <li><a href="/dms/loginpage/mainpage/trafficrules">Traffic Rules</a></li>
                                    <li><a href="/dms/loginpage/mainpage/mocktest">Quiz</a></li>
                                    <li><a href="/dms/loginpage/mainpage/videos">Videos</a></li>
                                   </ul>
                                </li>
                                <li><a href="/dms/loginpage/mainpage/feedback">Feedback</a></li>
                                <li><a href="/dms/loginpage/mainpage/studentform">Application Form</a></li>
                                <li><a href="/dms/loginpage">Log Out</a></li>
                        </ul>
                    </div>
                    
                
                
                    
        <div>        
    
            <h1>Traffic Rules</h1>
            <h2><font color="Blue">Motor Vehicles Act, 2019 new rules:<br> List of offences and revised penalties<br></font>
                    <i><font color="red">General penalty</font>  </i>– First offence-fine up to Rs 500,<br> second offence-fine up to Rs 1,500<br>
                    
                    <i><font color="red">Violation of road regulation</font></i> – Rs 500<br>
                    
                    <i><font color="red">Travelling without ticket</font></i> – Fine up to Rs 500<br>
                    
                    
                    
                    <i><font color="red">Unauthorised use of vehicles without license</font></i> – Fine of Rs 5,000<br>
                    
                    <i><font color="red">Driving without license</font></i> – Fine of Rs 5,000<br>
                    
                    <i><font color="red">Driving despite disqualification</font></i> – Fine of Rs 10,000<br>
                    
                    <i><font color="red">Acting as a conductor after disqualification</font></i> – Fine up to Rs 10,000<br>
                    
                    
                    
                    
                    <i><font color="red">Defective vehicles </font></i>– Imprisonment for up to 1 year and/or fine up to<br> Rs 1,00,000 for defective automobiles.<br>
                    
                    <i><font color="red">Sale of critical safety component in violation of rules</font></i> – Imprisonment for up to<br> 1 year and/or fine of Rs 1,00,000 per component.<br>
                    
                    <i><font color="red">Alteration of retrofitting in contravention of rules</font></i> – Imprisonment for up to<br> six months and/or fine of Rs 5,000 per alteration<br>
                    
                    <i><font color="red">Oversize vehicles</font></i> – Rs 5,000<br>
                    
                    
                    <i><font color="red">Over-speeding</font></i> – Rs 1,000 to Rs 2,000 for LMV; Rs 2,000 to Rs 4,000 for medium passenger or goods vehicles; Second subsequent offence-impounding of driving license<br>
                    
                    <i><font color="red">Penalty for dangerous driving </font></i>– First offence – imprisonment six months to one year and/or fine Rs 1,000 to Rs 5,000; Subsequent offence (within three years from first offence)- imprisonment up to two years and/or Rs 10,000<br>
                    
                    <i><font color="red">Drunken driving</font></i> – First offence- fine up to Rs 10,000 and/or imprisonment up to six months; second offece- fine of Rs 3,000 and/or imprisonment up to two years<br>
                    
                    <i><font color="red">Penalty for driving when mentally or physically unfit to drive</font></i> – First offence – fine up to Rs 1,000; second offence – fine up to Rs 2,000<br>
                    
                    <i><font color="red">Disobedience of orders of authorities and refusal to give information</font></i> – Fine up to Rs 2,000<br>
                    
                    <i><font color="red">Penalty relating to construction, maintenance, sale and alteration of motor vehicles and components</font></i> – Imprisonment for up to 1 year and/or fine up to Rs 1,00,000 per vehicle.<br>
                    
                    <i><font color="red">Penalty for offences relating to accident (Section 132 (i), 133 and 134)</font></i> – First offence – fine up to Rs 5,000 and/or imprisonment of 6 months; second offence- fine up to Rs 10,000 and/or imprisonment of 1 year<br>
            </h2></div>
    <div>     
    <img src="/trafficpolice.jpg" class="img" >

    </div>
    
</body>