<html>

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" type="text/css" href="/css/videos.css">

</head>
<style></style>


<body>
    <center><h1>Learn with Videos</h1></center>
    <center><video controls>
        <source src="/vd.mp4" type="video/mp4"></video>
    <video controls>    <source src="/vd2.mp4" type="video/mp4"></video>
    <video controls>   <source src="/vd3.mp4" type="video/mp4"></video>
    <video controls>  <source src="/vd4.mp4" type="video/mp4">
        
     </video> 
     </center>  
</body>
</html>